[build]
  command = "npm run build"
  publish = "dist"
  base = "frontend"

[build.environment]
  VITE_API_URL = "https://global-us-hrc-backend.onrender.com"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
